extends layout

block content
   .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Log In
        form(method='POST' action='/login')
          div.form-group
            label(for='email') Email
            input.form-control(type='text' id='email' placeholder='email' name='email')
          div.form-group
            label(for='password') Password
            input.form-control(type='password' id='password' placeholder='password' name='password')
          div.form-group
            label(for='text') Profession
            select.form-control(type='text' id='profession' placeholder='profession' name='profession')
                option(value='0', selected= true) -- Select --
                option(value='1', selected=false, id = 1) Student
                option(value='2', selected=false, id = 2) Teacher
          button.btn.btn-primary(type='submit') Log in